.facebook-container {
  display: flex;
  width: 100%;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 5px;
}

.facebook-container img {
  height: 200px;
  object-fit: cover;
  margin-right: 10px;
}

.facebook-container span {
  font-weight: bolder;
}
