.boxColor {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: .7em;
    margin: 5px; 
}

.boxColorTitle {
    display: flex;
}