.card{
    border: 2px solid black;
    width: 100%;
    padding: 10px;
    display: flex;
    margin: 10px;
}


  
.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    justify-items: left;
  }