.person {
  display: flex;
  justify-content: left;
  width: 90%;
}
.person img {
  height: 180px;
}
.details {
  padding-left: 1rem;
  line-height: normal;
}
.withborder {
  border: 1px solid black;
  margin: 1rem;
  padding: 0.5rem;
}
.textCenter {
  text-align: center;
}
.creditcard {
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: 90% 15%;
  width: 350px;
  height: auto;
  padding: 1rem;
}
.credits {
  display: flex;
  gap: 1rem;
}
.master {
  background-image: url('./img/master-card.svg');
}
.visa {
  background-image: url('./img/visa.png');
}
.driver {
  background-color: #455eb5;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 0.5rem;
}
.driver * {
  margin-top: 0.5rem;
}
.driver img {
  height: 160px;
  width: 160px;
  border-radius: 50%;
}
.likeBtn {
  padding: 10px 20px;
  width: fit-content;
}
.flex {
  display: flex;
  gap: 0.2rem;
}
