.carouselPicture{
    display: flex;
    flex-direction: column;
}

.carouselPicture img {
    width: 15%;
    display: block;
    margin: auto;
    /* height: 200px; */
    object-fit: cover;

    flex-direction: column;

}

.navigateAlbum {
  border: 2px solid;
  display: inline-block;
  width: 200px;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
}