.credit-card {
  border-radius: 10px;
  padding: 20px;
  width: 20%;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  height: 10rem;
}

.first-row {
  width: 100%;
}

.bank-logo {
  max-height: 1.5rem;
}

.bank-name {
  margin-left: 1rem;
}

.card-number {
  width: 100%;
  font-size: 2rem;
  margin-bottom: 1rem;
}
