.creditCard {
    padding: 20px;
    width: 350px;
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
    position: relative;
}

.creditCard img {
    height: 25px;
    position: absolute;
    right: 20px;
}

.cardNumber {
    padding: 50px 0 25px;
    font-size: 2em;
}

.bankName {
    padding-left: 25px;
}