.driver-card{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #455EB5;
	margin-top: 10px;
	border-radius: 10px;
	color: white;
	gap: 30px;
	width: 800px;
}

.driver-img{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.driver-text{
	width: 300px;
}
