
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 20px;
    height: 180px;
}

.card img {
    width: 150x;
    height: 150px;
    margin-left: 20px;
}

.cardText {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    
}

.card p {
    margin: 2px 0;
    color: white;
}